<!--
# Description: Prints out information about policy and attribute failures
# Event variables required: failures
# Website version required: >= v2.56.0
-->

<h1>{{ policy }} Failures</h1>
{% if ran_on == "node" %}
<p>For full results click <a href="{{ node_url }}">here</a></p>
{% elsif ran_on == "group" %}
<p>For full results click <a href="{{ instance_hostname }}/reports#/policy/{{ policy_id }}?node_group={{ group_id }}">here</a></p>
{% elsif ran_on == "environment" %}
<p>For full results click <a href="{{ instance_hostname }}/reports#/policy/{{ policy_id }}?environment={{ environment_id }}">here</a></p>
{% endif %} 
<hr />
{% for f in failures %}
  {% assign node_name = node %}
  {% if node_name == null %}
    {% assign node_name = f[0] %}
  {% endif %}
  <p><h2>Node: <a href="{{ instance_hostname }}/node_lookup?name={{ node_name }}">{{ node_name }}</a></h2></p>
  {% for c in f[1] %}
    <h3>{{ c['name'] | replace: ",", " &gt;" }}</h3>
    {% assign not_present = false %}
    {% for a in c['checks'] %}
      {% for r in a[1] %}
        {% if a[0] == 'present' and r['expected'] == 'true' and r['actual'] == 'false' %}
          {% assign not_present = true %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% if not_present == true %}
      <table style="margin-left:10px" border="0">
        <tr><td>Configuration item was expected, but <span style="color: red">not found</span>, on this node.</td></tr>
      </table
    {% else %}
      <table style="margin-left:10px" border="0">
        {% for a in c['checks'] %}
          {% for r in a[1] %}
          <tr>
            <th style="text-align:left; vertical-align:top;">Attribute:</th>
            <td style="text-align:left; vertical-align:top; padding-left:10px;">{{ a[0] }}</td>
          </tr>
          <tr>
            <th style="text-align:left; vertical-align:top;">
              {% if r['check'] == 'whitelist' %}Whitelist/Blacklist:{% elsif r['check'] %}{{ r['check'] | capitalize }}:{% else %}Expected:{% endif %}
            </th>
            <td style="text-align:left; vertical-align:top; padding-left:10px">
              {% if r['check'] == 'whitelist' %}
                See below for allowed (+) and unallowed (-) values...
              {% else %}
                {% if r['expected'] %}{{ r['expected'] }}{% else %}See below...{% endif %}
              {% endif %}
            </td>
          </tr>
          {% if r['conditions'] %}
          <tr>
            <th style="text-align:left; vertical-align:top;">
              Conditions:
            </th>
            <td style="text-align:left; vertical-align:top; padding-left:10px">
              {% for c in r['conditions'] %}{{ c['op'] }}{{ c['val'] }} {% endfor %}
            </td>
          </tr>
          {% endif %}
          <tr>
            <th style="text-align:left; vertical-align:top;">Actual:</th>
            <td style="text-align:left; vertical-align:top; padding:0 0 10px 10px; color: red">{{ r['actual'] }}</td>
          </tr>
          {% endfor %}
        {% endfor %}
      </table>
    {% endif %}
  {% endfor %}
  <br />
  <br />
  <hr />
{% endfor %}
<br />