###########################################################################################################
# Description: Prints out information about policy and attribute failures                                 #
# Event variables required: failures                                                                      #
# Website version required: >= v2.28.0                                                                    #
###########################################################################################################

<h1>{{ policy }} Failures</h1>
<p>For full results click <a href="https://<YOUR_INSTANCE_URL>/reports#/policy/{{ policy_id }}">here</a></p>
<hr />
{% for f in failures %}
  <p><h2>Node: {{ if node == null }}{{ f[0] }}{{ else }}{{ node }}{{ endif }}</h2></p>
  {% for c in f[1] %}
    <h3>{{ c['name'] | replace: ",", " &gt;" }}</h3>
    {% assign not_present = false %}
    {% for a in c['checks'] %}
      {% if a[0] == 'present' and a[1]['expected'] == 'true' and a[1]['actual'] == 'false' %}
        {% assign not_present = true %}
      {% endif %}
    {% endfor %}   
    {% if not_present == true %}
      <table style="margin-left:10px" border="0">
        <tr><td>Configuration item was expected, but <span style="color: red">not found</span>, on this node.</td></tr>        
      </table
    {% else %}
      <table style="margin-left:10px" border="0">
        {% for a in c['checks'] %}
        <tr>
          <th style="text-align:left; vertical-align:top;">Attribute:</th>
          <td style="text-align:left; vertical-align:top; padding-left:10px;">{{ a[0] }}</td>
        </tr>
        <tr>
          <th style="text-align:left; vertical-align:top;">Expected:</th>
          <td style="text-align:left; vertical-align:top; padding-left:10px">{{ a[1]['expected'] }}</td>
        </tr>
        <tr>
          <th style="text-align:left; vertical-align:top;">Actual:</th>  
          <td style="text-align:left; vertical-align:top; padding:0 0 10px 10px; color: red">{{ a[1]['actual'] }}</td>
        </tr>
        {% endfor %}
      </table>
    {% endif %}        
  {% endfor %}
  <br />
  <br />
  <hr />
{% endfor %}
<br />
